Django
Pillow
Werkzeug
boto3
dj-database-url
django-admin-sortable2
django-appconf
django-ckeditor
django-extensions
django-image-cropping
django-imagekit
django-js-asset
django-mptt
django-polymorphic
django-polymorphic-tree
django-storages
django-tag-parser
django-vanilla-views
easy-thumbnails
gunicorn
psycopg2-binary
requests
rollbar
sorl-thumbnail
whitenoise
