{% load thumbnail %}
{% load cropping %}
{% load static %}
{% load page_extras %}

{% block content %}
<section class="wrapper style1 no-pad">
  <div class="container">
    <div class="row 200%">
      <div class="12u">
	<div id="content">
	  <div class="row maintenance-row">
	    {% for item in maintenanceitem_list %}
	    <div class="6u 12u(narrow) maintenanceitem">
	      <div>
		<div class="row">
		  <div class="4u">
		    <a href="{{ item.url }}" class="no-b">
		      {% with item.maintenancephoto_set.all|first as image %}
		      {% if image.image.url %}
		      <img src="{% cropped_thumbnail image "thumbnail" upscale=True %}" class="img-responsive image" />
		      {% else %}
		      <p>No Image</p>
		      {% endif %}
		      {% endwith %}
		    </a>
		  </div>
		  <div class="8u">		  
		    <h2 class="main-title"><a href="{{ item.url }}" class="no-b">{{ item.title }}</a></h2>
		    <div>
		      {{ item.list_description|safe }}
		      <a href="{{ item.url }}">Read More</a>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
